@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  margin-top: 20px;
}

.header img {
  width: 60px;
}

.pokedex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  width: 220px;
  border-radius: 10px;
}

.img-container {
  background: white;
  border-radius: 50%;
  width: 80px;
  padding: 10px;
  margin: 15px 0;
}

.pokemon-card img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.id {
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.name {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

.type {
  margin: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.primary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-right: 5px;
  padding: 5px;
}

.secondary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-left: 5px;
  padding: 5px;
}