@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------ HEADER ------------------ */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  margin-top: 20px;
}

.header img {
  width: 60px;
}

/* ------------------ POKEMON CARD CONTAINER ------------------ */
.pokedex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ------------------ POKEMON CARD ------------------ */
.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-container {
  background: white;
  border-radius: 50%;
  width: 80px;
  padding: 10px;
  margin: 15px 0;
}

.pokemon-card img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.name {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

.id {
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.type {
  margin: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.primary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-right: 5px;
  padding: 5px;
}

.secondary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-left: 5px;
  padding: 5px;
}

/* ------------------ POPUP ------------------ */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* popup close button */
.far {
  font-size: 1.5rem;
  position: absolute;
  top: 100px;
  right: 175px;
  cursor: pointer;
  z-index: 5;
}

/* ------------------ POKEMON INFORMATION ------------------ */

.details {
  background: white;
  border-radius: 25px;
  width: 400px;
  text-align: center;
}

/* --- basic info/top half --- */

.basic-info {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 400px;
}

.pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 5px;
}

#name {
  font-size: 2rem;
}

#id {
  font-size: 1.7rem;
}

.popup-type {
  display: flex;
  margin-left: 15px;
}

.popup-primary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-right: 5px;
  padding: 5px;
}

.popup-secondary-type {
  background: white;
  border-radius: 15px;
  width: 70px;
  margin-left: 5px;
  padding: 5px;
}

/* --- extra info/bottom half --- */

.extra-info {
  background: lavender;
  border-radius: 20px;
  width: 400px;
}

.base-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.evolution-img {
  background: white;
  border-radius: 50%;
  border: solid black 1px;
  margin: 10px;
}


/* --- options bar --- */
.nav {
  padding: 10px;
  width: 80%;
  margin: auto;
}

.nav ul li {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}

.nav ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav ul li:hover::after {
  width: 100%;
}